spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/shop?useUnicode=true&characterEncoding=utf8
  redis:
    host: 127.0.0.1
    port: 6379

mybatis:
  config-location: classpath:db/mybatis/mybatis-config.xml
#debug: true

