<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.github.shop.generate.Shop" alias="Shop"/>
        <typeAlias type="com.github.shop.generate.Goods" alias="Goods"/>
        <typeAlias type="com.github.shop.generate.User" alias="User"/>
        <typeAlias type="com.github.shop.generate.ShoppingCart" alias="ShoppingCart"/>
        <typeAlias type="com.github.shop.entity.ShoppingCartData" alias="ShoppingCartData"/>
    </typeAliases>
    <!--    config mapper xml-->
    <mappers>
        <mapper resource="db/mybatis/mappers/UserMapper.xml"/>
        <mapper resource="db/mybatis/mappers/GoodsMapper.xml"/>
        <mapper resource="db/mybatis/mappers/OrderGoodsMappingMapper.xml"/>
        <mapper resource="db/mybatis/mappers/OrderMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShopMapper.xml"/>
        <mapper resource="db/mybatis/mappers/ShoppingCartMapper.xml"/>
        <mapper resource="db/mybatis/mappers/CustomShoppingCartMapper.xml"/>
    </mappers>
</configuration>